

<div class="left-side-menu condensed">
    
    <div class="sidebar-content">

        <div id="sidebar-menu" class="slimscroll-menu">
            <ul class="metismenu" id="menu-bar">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="uil uil-home-alt"></i>
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contacts' %}">
                        <i class="uil uil-users-alt"></i>
                        <span> Contacts </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-building"></i>
                        <span> Companies </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'deals_view' %}">
                        <i class="uil uil-feedback"></i>
                        <span> Deals </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-hdd"></i>
                        <span> Products </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-receipt"></i>
                        <span> Quotes </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-invoice"></i>
                        <span> Proforma </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-bill"></i>
                        <span> Invoice </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-folder"></i>
                        <span> Documents </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>

</div>